<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @user.id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<hr/>

<p>
  <strong>All Microposts for all users:</strong>
</p>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Content</th>
      <th>User Id</th>
    </tr>
  </thead>
  <tbody>
    <% @microposts.each do |micropost| %>
      <tr>
        <td><%= micropost.id %></td>
        <td><%= micropost.content %></td>
        <td><%= micropost.user_id %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<hr/>

<p>
  <strong>All Microposts for user <%= @user.id %>:</strong>
</p>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Content</th>
      <th>User Id</th>
    </tr>
  </thead>
  <tbody>
    <% @user.microposts.each do |micropost| %>
    <!-- < % @microposts_user = @microposts.where("user_id = :userid", {userid: @user.id}) % >
    < % @microposts_user.each do |micropost| % > -->
      <tr>
        <td><%= micropost.id %></td>
        <td><%= micropost.content %></td>
        <td><%= micropost.user_id %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<hr/>

<p>
  <strong>First Micropost for user: <%= @user.id %>:</strong>
</p>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Content</th>
      <th>User Id</th>
    </tr>
  </thead>
  <tbody>
    <!-- < % @micropost_user_first = @microposts.where("user_id = :userid", {userid: @user.id}).first % > -->
    <% if !@user.microposts.first.nil? %>
    <tr>
      <td><%= @user.microposts.first.id %></td>
      <td><%= @user.microposts.first.content %></td>
      <td><%= @user.microposts.first.user_id %></td>
    </tr>
    <% else %>
    <tr>
      <td colspan="3">User has no microposts yet.</td>
    </tr>
    <% end %>
  </tbody>
</table>

<hr/>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
